p {
    color: black;
}

.topRow image{
    align-items: center;
    margin-bottom: 25px;
}

.middleRow div.divider {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    transform: translate(-10px, 0);
    margin-bottom: 20px;
    width: 100%;
}

.projects .experience .education .aboutMe .skillsSet {
    border: 1px solid black;
    padding: 20px;
    margin-top: 35px;
    border-top: 1px solid black;
}

.contactRow {
    margin: 25px;
}

myResume {
    border: 2px dotted #34af95;
    padding: 20px 50px!important;
    margin-top: 50px;
    margin-bottom: 50px;
}
